/* Styles for AboutUs page layout */
.aboutUsPage{
    margin: 0;
    padding: 30px 20px 30px 20px;
    min-width: 100vw;
    min-height: 90vh;
    background-color: whitesmoke;
    color: grey;
    display: flex;
    place-items: center;
}