/* Styles for AboutUs page layout */
.aboutUsMainContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 90vw;
    min-height: 100vh;
  }

.aboutUsContainer{
    margin: 0;
    padding: 30px 20px 30px 20px;
    background-color: whitesmoke;
    color: grey;
    min-height: 50vh;
}