body {
    background-image: url('../assets/rick-n-morty-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
